<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles(title)">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <title th:text="${title}"></title>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
</head>
<body>
<nav class="nav-container" th:fragment="navbar">
    <a class="nav-item" id="title" th:href="@{/home}" th:text="#{navbar.home}"></a>
    <a class="nav-item" th:href="@{/artisti}" th:text="#{navbar.artists}"></a>
    <a class="nav-item" th:href="@{/collezione}" th:text="#{navbar.collections}"></a>
    <a class="nav-item" id="last" th:href="@{/informazioni}" th:text="#{navbar.information}"></a>
</nav>

<footer th:fragment="footer">
    <div id="footer-line" th:text="#{text.museum.name}">
    </div>
</footer>
</body>
</html>