html {
    font-size: 20px;
    margin: 0;
}

body {
    background-color: transparent;
    background-image: url("../images/smoky.png");
    background-repeat: no-repeat;
}

.image-inside-artist {
    width: 33.3%;
}

.artist-header-content {
    display: flex;
    height: 20vw;
    max-width: 80%;
}

.artist-header-content > img {
    border-radius: 9px;
}

.artist-container {
    display: flex;
    background-color: transparent;
    padding: 30px 50px 5vw;
}

.artist-sidebar {
    width: 40%;
}

.artist-content-item {
    break-inside: avoid;
}

.artist-content {
    margin-top: 25px;
    margin-left: 25px;
    column-count: 2;
    column-gap: 1rem;
    width: 100%;
}

.artist-content-item-description {
    width: 30%;
}

.artist-content-item-description > a {
    color: black;
    font-weight: bold;
}

.margin-left {
    margin-left: 2%;
}

@media (max-width: 768px) {
    html {
        font-size: 30px;
    }

    .margin-left {
        margin-left: 0;
    }

    .artist-content {
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        padding-top: 2%;
    }

    .artist-container {
        padding: 0px 0px;
        display: flex;
        background-color: transparent;
        flex-direction: column;
    }

    .artist-sidebar {
        width: 100%;
        display: block;
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    .artist-header-content {
        border-radius: 9%;
        justify-content: center;
        height: 5%;
        margin-top: 20px;
        max-width: 100%;
    }

    .artist-header-content > img {
        max-width: 50%;
    }

    .image-inside-artist {
        min-width: 50%;
        min-height: 50%;
    }

    .artist-content-item {
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid black;
        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
        min-width: 100%;
        margin-top: 25px;
        text-align: center;
    }

    .artist-content {
        padding-left: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-left: 0;
    }

    .artist-content-item-description {
        width: 100%;
        text-align: center;
    }
}