<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin_fragment.html :: header"></head>
<body>
<nav th:replace="fragments/admin_fragment.html :: navbar"></nav>
<form th:action="@{/admin/collezione/{idCollezione}/gestisci(idCollezione=${collezioneCorrente.id})}" method="POST" th:object="${collezioneCorrente}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <input type="hidden" th:field="*{id}"/>
    <div>
        <span>Nome:</span>
        <span><input type="text" th:field="*{nome}"/></span>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    </div>
    <div>
        <span>Descrizione:</span>
        <span><input type="text" th:field="*{descrizione}"/></span>
        <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
    </div>
    <div>
        <span><button type="submit" th:text="#{button.send}">Invio</button></span>
    </div>
</form>

<form th:action="@{/admin/collezione/{idCollezione}/gestisci/aggiungiOpera(idCollezione=${collezioneCorrente.id})}" method="post">
    <select name="operaSelezionata">
        <option th:each="opera : *{opere}" th:value="${opera.id}" th:text="${opera.titolo}">
        </option>
    </select>
    <span><button type="submit" th:text="#{button.add}">Aggiungi</button></span>
</form>

<table class="styled-table">
    <thead>
    <tr>
        <th>Titolo</th>
        <th>Anno Realizzazione</th>
        <th>Descrizione</th>
        <th>Autore</th>
        <th>Elimina</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="opera: *{opereCollezione}">
        <td th:text="${opera.titolo}"></td>
        <td th:text="${opera.annoRealizzazione}"></td>
        <td th:text="${opera.descrizione}"></td>
        <td th:text="${opera.autore.nome}"></td>
        <td><a type="button" th:text="#{button.delete}"
               th:href="@{/admin/collezione/{id}/gestisci/{idOpera}/elimina(id=${collezioneCorrente.id},idOpera=${opera.id})}"></a></td>
    </tr>
    </tbody>
</table>


</body>
</html>