<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin_fragment.html :: header"></head>
<body>

<navbar th:replace="fragments/admin_fragment.html :: navbar"></navbar>

<h1 th:text="#{title.create.collection}"></h1>
<form th:action="@{/admin/crea_collezione}" method="POST" th:object="${nuovaCollezione}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <div>
        <b><span th:text="#{name}"></span></b>
        <div><input type="text" th:field="*{nome}"/></div>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    </div>
    <div>
        <b><span th:text="#{description}"></span></b>
        <div><input type="text" th:field="*{descrizione}"/></div>
        <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
    </div>
    <div>
        <b><span th:text="#{curator}"></span></b>
    </div>
    <select name="curatoreSelezionato">
        <option th:each="curatore : ${curatori}" th:value="${curatore.matricola}" th:text="|${curatore.nome} ${curatore.cognome}|">
        </option>
    </select>
    <div>
        <span><button class="a-button" type="submit" th:text="#{button.send}">Invio</button></span>
    </div>
</form>

</body>
</html>