<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head th:include="fragments/base.html :: headerfiles(title=#{collezioni.title})"></head>
<head>
    <link th:href="@{/css/collezioni.css}" rel="stylesheet">
    <link th:href="@{css/card-gallery.css}" rel="stylesheet">
</head>
<body>
<div class="App">
    <nav th:replace="fragments/base.html :: navbar"></nav>
    <div class="wrap">
        <div class="page-title" th:text="#{navbar.collections}"></div>
        <div class="cards">
            <div class="card-item">
                <div class="property-card" th:each="collezione : ${collezioni}">
                    <a th:href="@{/collezione/{idCollezione}(idCollezione=${collezione.getId()})}">
                        <div class="property-image"></div>
                    </a>
                    <div class="property-description">
                        <h5 th:text="${collezione.getNome()}"></h5>
                        <p th:text="${collezione.getDescrizione()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</div>
</body>
</html>