<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/base.html :: headerfiles(title=#{home.title})"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<div class="App">
    <nav th:replace="fragments/base.html :: navbar"></nav>
    <div class="wrap">
        <div class="page-title" th:text="#{text.our.artworks}"></div>
        <div class="gallery">
            <div class="gallery-entry" th:each="opera: ${opere}">
                <a th:href="@{/opera/{idOpera}(idOpera=${opera.getId()})}"><img th:src="${opera.getFoto()}"></a>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</div>
</body>
</html>