<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/base.html :: headerfiles(title=#{artwork.title})">
</head>
<head>
    <link rel="stylesheet" th:href="@{/css/informazioni.css}" type="text/css"/>
</head>

<body>
<div class="App">
    <nav th:replace="fragments/base.html :: navbar"></nav>
    <div class="wrap">
        <div id="information-box">
            <h4 th:text="#{information.title}"></h4>
            <div class="sidebar">
                <hr class="mt-4 mb-4"/>
                <div>
                    <b th:text="#{information.contacts}"></b>
                    <span class="contact">+39 06656565</span>
                </div>
                <div>
                    <b th:text="#{information.address}"></b>
                    <span class="contact">Viale della tecnologia, 23, Roma</span>
                </div>
                <hr class="mt-4 mb-4"/>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</div>
</body>
</html>