<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/base.html :: headerfiles(title=#{opera.title})">
</head>
<head>
    <link th:href="@{/css/opera.css}" type="text/css" rel="stylesheet"/>
</head>

<body>
<nav th:replace="fragments/base.html :: navbar"></nav>
<section>
    <div id="show-box">
        <div class="sidebar">
            <h4 th:text="${opera.titolo}"></h4>
            <a id="author" th:href="@{/artista/{idAutore}(idAutore=${opera.autore.id})}" th:text="|${opera.autore.nome} ${opera.autore.cognome}|"></a>
            <p th:text="${opera.descrizione}">
            </p>
            <hr class="mt-4 mb-4"/>
        </div>
        <div class="image">
            <img th:src="${opera.foto}">
        </div>
    </div>
</section>
<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>