<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/base.html :: headerfiles(title=#{artwork.title})">
</head>
<head>
    <link rel="stylesheet" th:href="@{/css/opera.css}" type="text/css"/>
</head>

<body>
<div class="App">
    <div class="wrap">
        <nav th:replace="fragments/base.html :: navbar"></nav>
        <div id="show-box">
            <div class="sidebar">
                <h4 th:text="${opera.getTitolo()}"></h4>
                <a id="author" th:href="@{/artisti/{idAutore}(idAutore=${opera.getAutore().getId()})}"
                   th:text="|${opera.getAutore().getNome()} ${opera.getAutore().getCognome()}|"></a>
                <p th:text="${opera.getDescrizione()}">
                </p>
                <hr class="mt-4 mb-4"/>
            </div>
            <div class="image">
                <img th:src="${opera.getFoto()}">
            </div>
        </div>
    </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</div>
</body>
</html>